numpy
pandas
matplotlib
seaborn
plotly
scikit-learn
nltk
streamlit
joblib
shap


scipy
scikit-learn
imbalanced-learn


jupyter
ipykernel
tensorflow
nltk
spacy
textblob
wordcloud


openpyxl
xgboost
catboost
joblib
requests
